body{
    background-image: url(img/background1.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    color: white;
}
main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: 100%;

}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

}
.div-background-white{
    background: white;
    padding: 1em;
}

.alert{
    margin-bottom: 0px;
}

main label{

    display: flex;
    text-align: left;

}

.form-check{
    display: flex;
}

main .form-group legend{
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
    padding-top: 2px;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

#block
{
    text-align: center;
    display: inline-block;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}



#second_navbar{
    background-color: green;
    justify-content: center;
}

#nav-start{
    color:white;
    justify-content: left;
}

#nav-settings{
    color:white;
}

#nav-employees{
    color:white;
}

.nav_heading{
    color:white;
    padding: 10px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    cursor:default;
    background-color: #62b5e5;
    border:1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs>li.active>a
{
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs>li{
    margin-bottom: -1px;
}

.nav-tabs .nav-link {
    background-color: white;
    color: black;
    margin-bottom: -1px;
    border-bottom: 1px solid #ddd;
}

.active-nav{
    text-decoration: underline white;
}

.disabled-nav{
    color: gray;
}

.bg-dark {
    background-color: #000000!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}

.tab-content{
    background-color: white;
    color:black;
    padding:10px;
}

.left-align-button{
    text-align:left;
    padding-bottom:5px;
}

main .pt-3{
    margin:1em;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 25px;
  }

.titlebar-container{
    display:flex;
    margin-bottom: 1em;
    color:white;
}

.btn{
    font-size: 1rem;
}

.article-content{
    color:black;
}

.modal-content{
    padding:15px;
    color:black;
}
#Change_password
{
    /* constrain images on small screens */
    padding: 20px;
}

.own-cont{
    max-width: inherit;
}

.btn-outline-info {
    background-color: white;
    color: #17a2b8;
    border-color: #17a2b8;
}

@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}

.table td {
    vertical-align: inherit;
}

.payItemRow{
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}