{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}



{% block main %}
    <div id="block">
        <h1> Select a company </h1>
            <form action="/company" method="post">
                <div class="form-group">
                    <select class= "form-group" name="company">
                        <option disabled selected value>Company</option>
                        {% for item in rows%}
                        <option value= "{{ item.company_name }}">{{ item.company_name }}</option>
                        {%endfor%}
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Pick Company</button>
            </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Want to add a company? <a class="ml-2" href="{{ url_for('main.add_company') }}">Add Company</a>
        </small>
    </div>
{% endblock %}
