{% extends "layout_no_container.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<ul class= "nav" id="second_navbar">
    {% if current_company %}
        <h4 class="nav_heading active-nav"><a id="nav-start" >Start</a></h4>
        <h4 class="nav_heading"><a id="nav-settings" href="{{ url_for('main.settings') }}">Settings</a></h4>
        <h4 class="nav_heading"><a id="nav-employees" href="{{ url_for('main.employee') }}">Employees</a></h4>
    {% else %}
        <h4 class="nav_heading active-nav"><a >Start</a></h4>
        <h4 class="nav_heading disabled-nav"><a>Settings</a></h4>
        <h4 class="nav_heading disabled-nav"><a>Employees</a></h4>
    {% endif %}
</ul>
<div class="container p-5 own-cont">
        <div class="titlebar-container">
            <div class="titlebar">
                <h1 class="title">{{ current_company.company_name }}</h1>
            </div>
        </div>
        <div class="left-align-button">
            <button type="button" class="btn btn-primary" onclick="payRun('{{ url_for('main.create_payroll_run') }}')">Add Month</button>
        </div>

        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Month</th>
                    <th scope="col">Year</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pay_runs %}
                    <tr> 
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ item.month }}</td>
                        <td>{{ item.year }}</td>
                        <form action="{{ url_for('main.calculate_payroll_run', pay_run_id=item.id) }}">
                            <td><button type="submit" class="btn btn-primary" >Edit Month</button></td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal fade bd-example-modal-xl" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="myModal">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
    
                </div>
            </div>
        </div>
</div>

<script>

function payRun(url){
        $.get(url, function(data) {
        $('#myModal .modal-content').html(data);
        $('#myModal').modal();
        });
    }

</script>


{% endblock %}