{% extends "layout.html" %}

{% block title %}
    Calculate
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-8">
        <form action="/calculate" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.cash_amount.label(class="form-control-label") }}
                {% if form.cash_amount.errors %}
                    {{ form.cash_amount(class="form-control form-control-lg is-invalid") }}    
                    <div class="invalid-feedback">
                        {% for error in form.cash_amount.errors %}
                            <span>{{ error }} </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.cash_amount(class="form-control form-control-lg") }}
                {% endif %}  
            </div>
            <div class="form-group">
                {{ form.cash_type.label(class="form-control-label") }}
                {% if form.cash_type.errors %}
                    {{ form.cash_type(class="form-control form-control-lg is-invalid") }}    
                    <div class="invalid-feedback">
                        {% for error in form.cash_type.errors %}
                            <span>{{ error }} </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.cash_type(class="form-control form-control-lg") }}
                {% endif %}  
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="content-section">
        <h3>Information</h3>
        <p class='text-muted'><b>Current company</b>
            <ul class="list-group">
            <li class="list-group-item list-group-item-light">Company name: {{ company.company_name }}</li>
            <li class="list-group-item list-group-item-light">Organization number: {{ company.org_number }}</li>
            <li class="list-group-item list-group-item-light">Permanent establishment: {{ company.permanent_establishment }}</li>
            </ul>
        </p>
        <p class='text-muted'><b>Current Employee</b>
            <ul class="list-group">
            <li class="list-group-item list-group-item-light">Employee: {{ employee.first_name + ' ' + employee.last_name }}</li>
            <li class="list-group-item list-group-item-light">Personal number: {{ employee.person_nummer }}</li>
            <li class="list-group-item list-group-item-light">Skattetabell: {{ employee.skattetabell }}</li>
            <li class="list-group-item list-group-item-light">Expat type: {{ employee.expat_type }}</li>
            <li class="list-group-item list-group-item-light">Assignment start: {{ employee.assign_start }}</li>
            <li class="list-group-item list-group-item-light">Assignment end: {{ employee.assign_end }}</li>
            <li class="list-group-item list-group-item-light">Expert: {{ employee.expert }}</li>
            <li class="list-group-item list-group-item-light">SINK: {{ employee.sink }}</li>
            <li class="list-group-item list-group-item-light">Six month rule: {{ employee.six_month_rule }}</li>
            <li class="list-group-item list-group-item-light">Social Security: {{ employee.social_security + ', ' + SocialSecurity}}</li>
            </ul>
        </p>
        </div>
    </div>
</div>


<div class="border-top pt-3">
    <small class="text-muted">
        Want to choose a company? <a class="ml-2" href="{{ url_for('main.company') }}">Pick now</a>
    </small>
</div>

{% endblock %}