{% extends "layout_no_container.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<ul class= "nav" id="second_navbar">
    {% if current_company %}
        <h4 class="nav_heading active-nav"><a id="nav-start" >Start</a></h4>
        <h4 class="nav_heading"><a id="nav-settings" href="{{ url_for('main.settings') }}">Settings</a></h4>
        <h4 class="nav_heading"><a id="nav-employees" href="{{ url_for('main.employee') }}">Employees</a></h4>
    {% else %}
        <h4 class="nav_heading active-nav"><a >Start</a></h4>
        <h4 class="nav_heading disabled-nav"><a>Settings</a></h4>
        <h4 class="nav_heading disabled-nav"><a>Employees</a></h4>
    {% endif %}
</ul>
<div class="container p-5 own-cont">
    {% if current_company %}
        <div class="titlebar-container">
            <div class="titlebar">
                <h1 class="title">{{ current_company.company_name }}</h1>
            </div>
        </div>
        <div class="left-align-button">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Start Month</button>
        </div>
        
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">General Settings</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Payroll Logic</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Pay Items</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                  <div class="row">
                                    <div class="form-group">
                                        <form action="{{ url_for('main.employeeForm') }}" method="post" id="editForm">
                                            {{ form.hidden_tag() }}
                                            <fieldset class="form-group">
                                                <div class="form-group">
                                                    {{ form.first_name.label(class="form-control-label") }}
                                                    {% if form.first_name.errors %}
                                                        {{ form.first_name(class="form-control form-control-lg is-invalid") }}    
                                                        <div class="invalid-feedback">
                                                            {% for error in form.first_name.errors %}
                                                                <span>{{ error }} </span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ form.first_name(class="form-control form-control-lg") }}
                                                    {% endif %}                      
                                                </div>
                                                <div class="form-group">
                                                    {{ form.last_name.label(class="form-control-label") }}
                                                    {% if form.last_name.errors %}
                                                        {{ form.last_name(class="form-control form-control-lg is-invalid") }}    
                                                        <div class="invalid-feedback">
                                                            {% for error in form.last_name.errors %}
                                                                <span>{{ error }} </span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ form.last_name(class="form-control form-control-lg") }}
                                                    {% endif %}  
                                                </div>
                                                <div class="form-group">
                                                    {{ form.person_nummer.label(class="form-control-label") }}
                                                    {% if form.person_nummer.errors %}
                                                        {{ form.person_nummer(class="form-control form-control-lg is-invalid") }}    
                                                        <div class="invalid-feedback">
                                                            {% for error in form.person_nummer.errors %}
                                                                <span>{{ error }} </span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ form.person_nummer(class="form-control form-control-lg") }}
                                                    {% endif %}  
                                                </div>
                                                <div class="form-group">
                                                    {{ form.skattetabell.label(class="form-control-label") }}
                                                    {% if form.skattetabell.errors %}
                                                        {{ form.skattetabell(class="form-control form-control-lg is-invalid") }}    
                                                        <div class="invalid-feedback">
                                                            {% for error in form.skattetabell.errors %}
                                                                <span>{{ error }} </span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ form.skattetabell(class="form-control form-control-lg") }}
                                                    {% endif %}  
                                                </div>
                                                <div class="form-group">
                                                    {{ form.expat_type.label(class="form-control-label") }}
                                                    {% if form.expat_type.errors %}
                                                        {{ form.expat_type(class="form-control form-control-lg is-invalid") }}    
                                                        <div class="invalid-feedback">
                                                            {% for error in form.expat_type.errors %}
                                                                <span>{{ error }} </span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ form.expat_type(class="form-control form-control-lg") }}
                                                    {% endif %}  
                                                </div>
                                                <div class="form-group">
                                                    {{ form.assign_start.label(class="form-control-label") }}
                                                    {% if form.assign_start.errors %}
                                                        {{ form.assign_start(class="form-control form-control-lg is-invalid") }}    
                                                        <div class="invalid-feedback">
                                                            {% for error in form.assign_start.errors %}
                                                                <span>{{ error }} </span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ form.assign_start(class="form-control form-control-lg") }}
                                                    {% endif %}  
                                                </div>
                                                <div class="form-group">
                                                    {{ form.assign_end.label(class="form-control-label") }}
                                                    {% if form.assign_end.errors %}
                                                        {{ form.assign_end(class="form-control form-control-lg is-invalid") }}    
                                                        <div class="invalid-feedback">
                                                            {% for error in form.assign_end.errors %}
                                                                <span>{{ error }} </span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ form.assign_end(class="form-control form-control-lg") }}
                                                    {% endif %}  
                                                </div>
                                                <div class="form-check">
                                                    {{ form.expert(class="form-check-input") }}
                                                    {{ form.expert.label(class="form-check-label") }}
                                                </div>
                                                <div class="form-check">
                                                    {{ form.sink(class="form-check-input") }}
                                                    {{ form.sink.label(class="form-check-label") }}
                                                </div>
                                                <div class="form-check">
                                                    {{ form.six_month_rule(class="form-check-input") }}
                                                    {{ form.six_month_rule.label(class="form-check-label") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.social_security.label(class="form-control-label") }}
                                                    {% if form.social_security.errors %}
                                                        {{ form.social_security(class="form-control form-control-lg is-invalid") }}    
                                                        <div class="invalid-feedback">
                                                            {% for error in form.social_security.errors %}
                                                                <span>{{ error }} </span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ form.social_security(class="form-control form-control-lg") }}
                                                    {% endif %}  
                                                </div>
                                            </fieldset> 
                                                                                      
                                        </form>
                                    </div>
                                  </div>
                              
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <form id="FormTwo" role="form" class="container-fluid" action="One.asp" method="post">
                                <div class="row">
                                    FormTwo
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <form id="FormThree" role="form" class="container-fluid" action="One.asp" method="post">
                                <div class="row">
                                    FormThree
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        {{ form.submit(class="btn btn-primary", id="uform")}}
                    </div>
                </div> 
              </div>
            </div>
          </div>
    {% else %}

    {% endif %}

    



</div>
<script>
    $('#uform').click(function(event) {
        event.preventDefault();
        var url = "{{ url_for('main.employeeForm') }}"
        $.post(url, data=$('#editForm').serialize(), function(data) {
            if (data.status == 'ok') {
                $('#myModal').modal('hide');
                location.reload();
            }
            else {
                $('#myModal .modal-content').html(data);
            }
        });
    })
</script>

{% endblock %}