<div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Employee!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
            
            <div class="form-group">
                <form action="{{ url_for('main.editEmployeeForm', employee_id = employee.id ) }}" method="post" id="editExistingForm">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.first_name.label(class="form-control-label") }}
                            {% if form.first_name.errors %}
                                {{ form.first_name(class="form-control form-control-lg is-invalid") }}    
                                <div class="invalid-feedback">
                                    {% for error in form.first_name.errors %}
                                        <span>{{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.first_name(class="form-control form-control-lg") }}
                            {% endif %}                      
                        </div>
                        <div class="form-group">
                            {{ form.last_name.label(class="form-control-label") }}
                            {% if form.last_name.errors %}
                                {{ form.last_name(class="form-control form-control-lg is-invalid") }}    
                                <div class="invalid-feedback">
                                    {% for error in form.last_name.errors %}
                                        <span>{{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.last_name(class="form-control form-control-lg") }}
                            {% endif %}  
                        </div>
                        <div class="form-group">
                            {{ form.person_nummer.label(class="form-control-label") }}
                            {% if form.person_nummer.errors %}
                                {{ form.person_nummer(class="form-control form-control-lg is-invalid") }}    
                                <div class="invalid-feedback">
                                    {% for error in form.person_nummer.errors %}
                                        <span>{{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.person_nummer(class="form-control form-control-lg", placeholder="YYMMDD-XXXX") }}
                            {% endif %}  
                        </div>
                        <div class="form-group">
                            {{ form.skattetabell.label(class="form-control-label") }}
                            {% if form.skattetabell.errors %}
                                {{ form.skattetabell(class="form-control form-control-lg is-invalid") }}    
                                <div class="invalid-feedback">
                                    {% for error in form.skattetabell.errors %}
                                        <span>{{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.skattetabell(class="form-control form-control-lg") }}
                            {% endif %}  
                        </div>
                        <div class="form-group">
                            {{ form.expat_type.label(class="form-control-label") }}
                            {% if form.expat_type.errors %}
                                {{ form.expat_type(class="form-control form-control-lg is-invalid") }}    
                                <div class="invalid-feedback">
                                    {% for error in form.expat_type.errors %}
                                        <span>{{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.expat_type(class="form-control form-control-lg") }}
                            {% endif %}  
                        </div>
                        <div class="form-group">
                            {{ form.assign_start.label(class="form-control-label") }}
                            {% if form.assign_start.errors %}
                                {{ form.assign_start(class="form-control form-control-lg is-invalid") }}    
                                <div class="invalid-feedback">
                                    {% for error in form.assign_start.errors %}
                                        <span>{{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.assign_start(class="form-control form-control-lg", placeholder="YYYY-MM-DD") }}
                            {% endif %}  
                        </div>
                        <div class="form-group">
                            {{ form.assign_end.label(class="form-control-label") }}
                            {% if form.assign_end.errors %}
                                {{ form.assign_end(class="form-control form-control-lg is-invalid") }}    
                                <div class="invalid-feedback">
                                    {% for error in form.assign_end.errors %}
                                        <span>{{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.assign_end(class="form-control form-control-lg", placeholder="YYYY-MM-DD") }}
                            {% endif %}  
                        </div>
                        <div class="form-check">
                            {{ form.expert(class="form-check-input") }}
                            {{ form.expert.label(class="form-check-label") }}
                        </div>
                        <div class="form-check">
                            {{ form.sink(class="form-check-input") }}
                            {{ form.sink.label(class="form-check-label") }}
                        </div>
                        <div class="form-check">
                            {{ form.six_month_rule(class="form-check-input") }}
                            {{ form.six_month_rule.label(class="form-check-label") }}
                        </div>
                        <div class="form-group">
                            {{ form.social_security.label(class="form-control-label") }}
                            {% if form.social_security.errors %}
                                {{ form.social_security(class="form-control form-control-lg is-invalid") }}    
                                <div class="invalid-feedback">
                                    {% for error in form.social_security.errors %}
                                        <span>{{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.social_security(class="form-control form-control-lg") }}
                            {% endif %}  
                        </div>
                    </fieldset>
                    <div class="modal-footer">                
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            {{ form.submit(class="btn btn-primary", id="submit")}}
                        </div>
                    </div>
                </form>
            </div>


<script>
    $('#submit').click(function(event) {
        event.preventDefault();
        var url = "{{ url_for('main.editEmployeeForm',employee_id=employee.id) }}"
        $.post(url, data=$('#editExistingForm').serialize(), function(data) {
            if (data.status == 'ok') {
            $('#myModal').modal('hide');
            location.reload();
            }
            else {
            $('#myModal .modal-content').html(data);
            }
        });
    })
</script>